*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;  
    font-family: "Smooch Sans", sans-serif;

}
body{
    background-color: rgb(4.7, 7.8, 15.3);
    color: #fff;
    /* overflow: hidden; */
    font-size: 16px;
}
header{
    /* margin: 20px; */
    position: fixed;
    top: 0;
    width: 90vw;
    padding: 20px, 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}
.logo{
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 900px;
    color: rgb(58, 87.5, 35.6);
}
header nav ul{
    display: flex;
    gap: 48px;
}
header nav ul li{
    cursor: pointer;
    position: relative;
    padding: 5px, 0px;
}
header nav ul li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(58, 87.5, 35.6);
    transition: width 0.3s ease ;
}
header nav ul li:hover::after{
    width: 100%;
}
.corpo{
    height: 100vh;
    position: relative;
    background: linear-gradient();
    overflow: hidden;
}
.lista{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /* top: 20%; */
}
.apresntacao{
    position: absolute;
    inset: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.ativo{
    opacity: 1;
}
.componente{
    /* width: 0; */

}
